.flip{
	position: relative;
	transition: all 1s ease;
	transform: perspective(600px);
	transform-origin: 100% 0%;
	transform-style: preserve-3d;
}
.flip:hover{
	transform: perspective(600px) rotateY(-180deg) translateX(100%);
}
.flip .flip-1,
.flip .flip-2{
	position: absolute;
	backface-visibility: hidden;
}
.flip .flip-2{
	transform: rotateY(-180deg);
}