/*
 * Flip Animation
*/
.flip {
    position: relative;
    transform: perspective(600px);
    transform-origin: 100% 0%;
    transform-style: preserve-3d;
    
    &:hover{
        transform: perspective(600px) rotateY(-180deg) translateX(100%);
    }
    
    .flip-1, .flip-2{
        position: absolute;
        backface-visibility: hidden;
    }
    
    .flip-2{
        transform: rotateY(-180deg);
    }
    
    hr{
        margin: {
            top:0;
            bottom:0;
        }
    }
    
    // Fix a Bug With Mozilla Firefox
    @supports(-moz-appearance:none) {
        backface-visibility: hidden;
    }
}